<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892907913467-sdc4k33m8qgcd64ukonqq8r9gp96v700.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892907913467-sdc4k33m8qgcd64ukonqq8r9gp96v700</string>
	<key>API_KEY</key>
	<string>AIzaSyDgfm3f_6fcKD6KOFxqeofTUroDmjtoeGw</string>
	<key>GCM_SENDER_ID</key>
	<string>892907913467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shifei.Dentaku</string>
	<key>PROJECT_ID</key>
	<string>dentaku-7c735</string>
	<key>STORAGE_BUCKET</key>
	<string>dentaku-7c735.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892907913467:ios:174a26f5cd967a9c5fb05e</string>
	<key>DATABASE_URL</key>
	<string>https://dentaku-7c735.firebaseio.com</string>
</dict>
</plist>